<app-loader [isLoading]="isLoading"></app-loader>


<div class="map-wrapper">
    <div id="map">
    
    
      
    </div>
    <img src="assets/icons/logoOhne.png" alt="Logo" class="rotated-logo">
    <div class="controls" [ngClass]="darkMode ? 'dark' : 'light'">
    <div class="input-mit-reset">
      <input
      type="text"
      placeholder="Stadt oder PLZ"
      (input)="searchCityZip(stateInput.value)"
      #stateInput
      id="stateInput"
    />
      <button
      type="button"
      class="reset-input-btn"
      *ngIf="stateInput.value"
      (click)="resetSearchInput(stateInput)"
    >
      ✖
    </button>

    </div>
      <select
        (change)="searchAutomat(automatSelect.value)"
        #automatSelect
        id="automatSelect"
        aria-label="Automat auswählen"
      >
        <option value="">Alle Automaten anzeigen</option>
        <option *ngFor="let automat of automatNames" [value]="automat.name">
          {{ automat.city }} - {{ automat.name }} (PLZ: {{ automat.zipcode }}, Maschinen: {{ automat.machines }})
        </option>
      </select>
    </div>
    
    <p *ngIf="noAutomatFound" class="no-result">
      Keine Automaten gefunden!
    </p>
  
    <div class="btns">
      <button (click)="toggleMode()" class="mode-toggle btn">
        {{ darkMode ? 'Light Mode' : 'Dark Mode' }}
      </button>
      <button (click)="resetMap()" class="reset-button btn">
        Zurücksetzen
      </button>
      <button (click)="locateMe()" class="locate-button btn">
        📍 Wo bin ich?
      </button>
      
    </div>
    
  </div>
  
