<div class="controls">

  <!-- Suche nach Stadt oder PLZ -->
<input
    type="text"
    placeholder="Suche nach Stadt oder PLZ..."
    (input)="searchCityZip(stateInput.value)"
    #stateInput
/>


  <!-- Dropdown mit Name, Stadt, PLZ, Maschinen -->
  <select (change)="searchAutomat(automatSelect.value)" #automatSelect>
    <option value="">Alle Automaten anzeigen</option>

    <option *ngFor="let automat of automatNames" [value]="automat.name">
      {{ automat.name }} - {{ automat.city }} (PLZ: {{ automat.zipcode }}, Maschinen: {{ automat.machines }})
    </option>
  </select>

</div>

<p *ngIf="noAutomatFound" class="no-result">
  Keine Automaten gefunden!
</p>

<div id="map"></div>
